body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2b2a33;
    text-align: center;
    color: white;
}

#projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    padding: 2rem;
    margin: 0 auto;
}

.project {
    border-right: 3px solid lightgreen;
    border-bottom: 3px solid lightgreen;
    border-radius: 1rem;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: #42414d;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    color: white;
}

.project:hover {
    background: lightgreen;
    color: black;
    transform: scale(1.05);
}

.project img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.project-title {
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
}

#fullscreen-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2b2a33;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
}

#fullscreen-container.active {
    opacity: 1;
    visibility: visible;
}

#fullscreen-iframe {
    width: 45%;
    height: 90%;
    border: none;
    border-radius: 0.5rem;
    background: lawngreen;
}

.close-btn {
    position: fixed;
    top: 20px;
    right: 30px;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    background: red;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    z-index: 1000;
}

.close-btn:hover {
    background: darkred;
}

.hidden {
    display: none;
}

@media (max-width: 500px) {
    #projects-container {
        flex-direction: column;
        align-items: center;
    }

    .project {
        width: 90%;
    }
    #fullscreen-iframe {
        width: 90%;
        height: 90%;    
    }    
}
