body { 
    font-family: consolas;
    padding: 20px;
    background-color: lawngreen;
}
.section { 
    margin-bottom: 0.1rem;
    padding: 10px;
}
h2 { 
    color: black;
    font-family: consolas;
}
pre {
    background: black;
    padding: 1rem;
    color: lawngreen;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 1rem;
    border-radius: 1rem;
}
